body2{
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
    
}

.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	flex-wrap: wrap;

    
}

.border{
	height: 329px;
	width: 250px;
	background: transparent;
	border-radius: 10px;
	transition: border 1s;
	position: relative;
}

.border:hover{
	border: 1px solid #FFF;
}

.card{
	height: 339px;
	width: 260px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	margin: 1vw;
	transition: background 0.8s;
    
}

.card01{
	background: url('images/Dan\ smith.jpg') center center no-repeat;
	background-size: 339px;
	filter: grayscale(100%);
}

.card01:hover{
	background: url('images/Dan\ smith.jpg') left center no-repeat;
	background-size: 339px;
	filter: grayscale(0%);

}

.card01:hover h2{
	opacity: 1;
}

.card01:hover .fa{
	opacity: 1;
}

.card02{
	background: url('images/Will\ Farquarson.jpeg') center center no-repeat;
	background-size: 339px;
	filter: grayscale(100%);
}

.card02:hover{
	background: url('images/Will\ Farquarson.jpeg') left center no-repeat;
	background-size: 339px;
	filter: grayscale(0%);
}

.card02:hover h2{
	opacity: 1;
}

.card02:hover .fa{
	opacity: 1;
}

.card03{
	background: url('images/Kyle.png') center center no-repeat;
	background-size: 339px;
	filter: grayscale(100%)
}

.card03:hover{
	background: url('images/Kyle.png') left center no-repeat;
	background-size: 339px;
	filter: grayscale(0%);
}

.card03:hover h2{
	opacity: 1;
}

.card03:hover .fa{
	opacity: 1;
}

.card04{
	background: url('images/Chris\ wood.jpeg') center center no-repeat;
	background-size: 339px;
	filter: grayscale(100%)
	
}

.card04:hover{
	background: url('images/Chris\ wood.jpeg') left center no-repeat;
	background-size: 339px;
	filter: grayscale(0%)
}

.card04:hover h2{
	opacity: 1;
}

.card04:hover .fa{
	opacity: 1;
}
.card05{
	background: url('images/Aung.jpg') center center no-repeat;
	background-size: 339px;
	filter: grayscale(100%)
	
}

.card05:hover{
	background: url('images/Aung.jpg') left center no-repeat;
	background-size: 339px;
	filter: grayscale(0%)
}

.card05:hover h2{
	opacity: 1;
}

.card05:hover .fa{
	opacity: 1;
}

h2{
	font-family: "Montserrat", sans-serif;
	color:  black;
	margin: 3px;
	opacity: 0;
	transition: opacity 1s;
    text-transform: capitalize;
    font-weight: 100%;
}
.fa{
	opacity: 0;
	transition: opacity 1s;
    
}
button{
    border: none;
    color: darkorange;
    background: none;
}

.icons{
	position: absolute;
	color: darkorange;
	height: 130px;
	top: 200px;
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    
    
}

@media screen and (max-width: 768px) {
	.card{
	   margin-top: 200px;
	   

	}
	.container{
		justify-content: center;
        
	}
  }